<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-8" style="position: inherit;">
				<p>Copyright &copy; 2018 ShyamTech Solution</p>
				<small>Designed by <a rel="nofollow" href="http://www.tooplate.com" target="_parent">ShyamTech</a></small>
			</div>
			<div class="col-md-4">
				<ul class="social-icon">
					<li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
					<li><a href="https://twitter.com/" class="fa fa-twitter"></a></li>
					<li><a href="https://instagram.com/" class="fa fa-instagram"></a></li>					
					<li><a href="https://gmail.com/" class="fa fa-google"></a></li>
					<li><a href="https://github.com/" class="fa fa-github"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
