<div id="about">
  <div class="container">
    <div class="row" style="margin-top: -15px;;">
      <div class="col-lg-6 col-sm-6 wow fadeInLeft">
        <span>Registered User</span>
        <ag-grid-angular style="width: 550px; height: 400px;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs">
        </ag-grid-angular>
      </div>
      <div class="col-lg-6 col-sm-6 wow fadeInRight">
        <span>Registered Employee</span>
        <ag-grid-angular style="width: 550px; height: 400px;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>