<!--The content below is only a placeholder and can be replaced.-->
<!-- start home -->
<section id="home" class="text-center">
    <div class="templatemo_headerimage">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="assets/images/slider/1.jpg" alt="Slide 1">
                    <div class="slider-caption">
                        <div class="templatemo_homewrapper">
                            <h1 class="wow fadeInDown" data-wow-delay="2000">Solution Company</h1>
                            <h2 class="wow fadeInDown" data-wow-delay="2000">
                                <span>WE DESIGN CODE WEBSITES</span>
                            </h2>
                            <a href="#service" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">Our
                                Work</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="assets/images/slider/2.jpg" alt="Slide 2">
                    <div class="slider-caption">
                        <div class="templatemo_homewrapper">
                            <h1 class="wow fadeInDown" data-wow-delay="2000">Flex Slider, CSS Flexbox</h1>
                            <h2 class="wow fadeInDown" data-wow-delay="2000">
                                <span>work on all modern browsers, Works on IE 10+</span>
                            </h2>
                            <p>see caniuse.com for browser compatibility information</p>
                            <a [routerLink]="['/about']" class="smoothScroll btn btn-default wow fadeInDown"
                                data-wow-delay="2000">See about us</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- end home -->
<!-- start service -->
<div id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="media">
                    <div class="media-object media-left wow fadeIn" data-wow-delay="0.1s">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="media-body wow fadeIn">
                        <h3 class="media-heading">Fully Responsive</h3>
                        <p>Please check <a rel="nofollow" href="http://fortawesome.github.io/Font-Awesome/examples/"
                                target="_parent">examples</a>
                            to change <a rel="nofollow" href="http://fontawesome.io/icons/" target="_parent">icons</a>
                            easily. Lorem ipsum
                            dolor sit amet, consectetuer adipiscing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="media">
                    <div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="media-body wow fadeIn">
                        <h3 class="media-heading">Customize Easily</h3>
                        <p>Solution is a website template from Tooplate. You can download, edit and use this for any
                            purpose.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="media">
                    <div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <div class="media-body wow fadeIn" data-wow-delay="0.3s">
                        <h3 class="media-heading">SEO Friendly</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="media">
                    <div class="media-object media-left wow fadeIn" data-wow-delay="0.9s">
                        <i class="fa fa-html5"></i>
                    </div>
                    <div class="media-body wow fadeIn" data-wow-delay="0.6s">
                        <h3 class="media-heading">HTML5 Website</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="media">
                    <div class="media-object media-left wow fadeIn" data-wow-delay="0.4s">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <div class="media-body wow fadeIn" data-wow-delay="0.3s">
                        <h3 class="media-heading">Quick Support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="media">
                    <div class="media-object media-left wow fadeIn" data-wow-delay="0.8s">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="media-body wow fadeIn" data-wow-delay="0.6s">
                        <h3 class="media-heading">Up to Date</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euism.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end service -->

<!-- start divider -->
<div id="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-8 col-sm-8">
                <h2 class="wow bounce">We provide <strong>solutions</strong></h2>
                <h3 class="wow fadeIn" data-wow-delay="0.6s"><mark>Creative</mark> Designers &amp; <mark>Talented</mark>
                    Developers</h3>
                <p class="wow fadeInUp" data-wow-delay="0.9s">Nulla ultricies bibendum augue et molestie. Suspendisse
                    pellentesque
                    mollis imperdiet. Quisque sodales laoreet tincidunt. Phasellus ut mi orci. Vivamus id odio ac justo
                    tincidunt
                    placerat. Nulla facilisi. Vivamus et dolor urna. Sed vestibulum urna justo, nec malesuada urna
                    aliquet et.</p>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
    </div>
</div>
<!-- end divider -->